<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page of 1+2</h1>
    <h1> <%= "apnacollege".toUpperCase() %> </h1>
    <h2> <%= ["hello", "shreya", "kaise", "ho"][2] %>   </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio perferendis nisi rem aliquam voluptate laboriosam autem odit numquam libero consectetur ut nemo ex est ullam reprehenderit repudiandae natus enim, praesentium eum! Consequatur voluptatum vero incidunt harum vitae dolor nihil veniam eum, consectetur cupiditate sunt cum atque fugiat porro quidem adipisci, error explicabo reprehenderit sed deleniti blanditiis ad suscipit. Voluptates natus nam hic dolores unde? Voluptas corrupti ipsam aliquid nihil doloribus. Eaque laudantium quibusdam dolorum quis rerum accusantium explicabo dolore nam omnis incidunt, error doloribus ut quae magnam eos quas sit sint dolor labore aut suscipit! Modi quam magnam animi vitae!</p>
    <button>Click Me!</button>
</body>
</html>